**/*.ipynb
**/media
**/venv
**/venvs
**/**/__pycache__
**/**/**/__pycache__
**/**/**/**/__pycache__
**/*.csv
model/
**/temp_model/*
**/**/temp_model
**/static/*
**/static_root/*
**/**/*.ipynb_checkpoints
**/*.ipynb_checkpoints
**/**/best_civision


