body{
    height: 100%;
}
#main-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-banner-text{
    max-width: 40rem;
    min-width: 23rem;
}

.main-banner-text h1{
    font-size: 1.5rem;
    color: #27295B;
    padding: 1rem;
    background-color: #CAF2FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.doctors-logo{
    pointer-events: none;
    width: 100%;
}

#camera-outline{
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera-logo{
    cursor: pointer;
    height: 15rem;
    width: 15rem;
    
}

.image-in-text{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -3.5rem;
    position: relative;
    left: 0rem;
    font-size: 1.3rem;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 120%;
  
    display: none;
  
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal.show {
    display: block;
  }
  
  .modal_body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15rem;
    height: 25rem;
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgb(34 36 38 / 15%);
    transform: translateX(-50%) translateY(-50%);
  }

.modal-warning-text{
    font-size: 1.3rem;
    color: #27295b;
    font-weight: bold;
}

.ul.modal-list{
    margin: 1rem;
}

.modal-content{
    margin: 0.5rem;
}

ul.modal-list li:before {
    content: ">";
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px 6px 0px;
}

u{
    font-weight: bold;
}

.modal-example{
    font-size: 1rem;
    color: #27295b;
    font-weight: bold;
}

.fa-sort-down{
    font-size: 1.5rem;
    top: -0.2rem;
    position: relative;
}

.example-image-zone{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.modal-images{
    margin: 0rem 1rem 0rem 1rem;
    width: 6rem;
    height: 6rem;
}

.icon-in-text{
    margin: 1rem;
}

.modal-function-li{
    margin: -0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-function-li label {
    display: inline-block;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    margin: 1rem;
  }

  .modal-function-li input[type="file"] {  /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
  }