{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/body.css' %}">



{% include "search-bar.html" %}
<div class = main-box>
    <article>
        <img src="{% static 'img/doctors.png' %}" alt="doctor banner imgs">
    </article>
</div>

<div class = "btn-list">
    <article class = "menu-article">
        <ul class="menu-list">
            <li id="btn-box">
                <div>
                    <img src="{% static 'img/Pill.png' %}" alt="">
                <a href="{% url 'api:index' %}"><p id ="menu-in-text">의약품 검색</p></a>
                </div>
            </li>
            <li id="btn-box">
                <div>
                    <img src="{% static 'img/Pill.png' %}" alt="">
                <p id ="menu-in-text">질병 정보</p>
                </div>
            </li>
            <li id="btn-box">
                <div>
                    <img src="{% static 'img/Pill.png' %}" alt="">
                <p id ="menu-in-text">복약 관리</p>
                </div>
            </li>
            <li id="btn-box">
                <div>
                    <img src="{% static 'img/Pill.png' %}" alt="">
                <p id ="menu-in-text">이용 문의</p>
                </div>
            </li>
        </ul>
    </article>
</div>
<hr class = "horizontal-line">
<div>
    <ul class="banner-ul">
        <li class = "notice-text">공지사항</li>
        <li class = "more-text">더보기 >
        </li>
    </ul>
</div>

<div class="carousel-wrapper">
    <div class="carousel">
      <img class="carousel_item next" src="{% static 'img/doctors.png' %}" />
      <img class="carousel_item" src="{% static 'img/test1.jpg' %}" />
      <img class="carousel_item" src="{% static 'img/test2.jpg' %}" />
      <img class="carousel_item" src="{% static 'img/test3.jpg' %}" />
      <img class="carousel_item prev" src="{% static 'img/test4.jpg' %}" />
      <img class="carousel_item active" src="{% static 'img/test5.jpg' %}" /> 

      <div class="carousel_button--next"></div>
      <div class="carousel_button--prev"></div>
    </div>
  </div>
  
<script src="{% static 'javascript.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
{% endblock content %}
