#main-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-banner-text{
    max-width: 40rem;
    min-width: 23rem;
}

.main-banner-text h1{
    font-size: 1.5rem;
    color: #27295B;
    padding: 1rem;
    background-color: #CAF2FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.doctors-logo{
    pointer-events: none;
    width: 100%;
}

#camera-outline{
    display: flex;
    justify-content: center;
    align-items: center;
}


.camera-logo{
    width: 30%;
    height: 30%;
}

