.result_list {
    width: 100%
}

.dropdown_result {
    padding: 10px 20px;

    display:flex;

    align-items: center;
    justify-content: space-between;

    width: 100%;

    background-color: WHITE;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #d9d9d9;
}

.dropdown_result > label{
    font-size: 15pt;
}

.pill_crop{
    width:80px;
    height:40px;
}

.pill_example{
    width: 100px;
    height:60px;
}

.dropdown_arrow {
    width: 20px;
    height: 20px;
    background-image: url("/static/img/down_arrow.png");
    background-size: cover;
}

.pill_list{
    margin-left: 15px;
    display: none;
}

.pill_list.activated{
    display: block;
}

.pill_result {
    padding: 10px 20px;

    display:flex;

    align-items: center;
    justify-content: space-between;

    width: 100%;

    background-color: WHITE;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #d9d9d9;
}

.pill_result > label{
    font-size: 15pt;
}


.pill_radio {
    width: 25px;
    height: 25px;
}