html {
  margin-left: auto;
  margin-right: auto;
}

.main-box {
  width: 100%;
  }

.main-box img {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  position: relative;
  height: 100%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.btn-list {
  top: 5rem;
}

.menu-article {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.menu-list {
  font-weight: bold;
  margin: 0.5rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.menu-list img {
  height: 1.5rem;
  width: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
}

#btn-box {
  box-shadow:2px 2px 2px 2px #999;
  width: 80%;
  margin: 1rem;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #CAF2FF;
  max-width: 75px;
}

#btn-box div img {
  margin-top: 0.5rem;
}
#menu-in-text {
  display: flex;
  margin: 10%;
  font-size: 62.5%;
  justify-content: center;
}

.horizontal-line{
  background:rgb(200 192 192 / 50%);
  height: 1px;
  border: 0;
}

.banner-ul {
  margin-top: 1rem;
  margin-left: 2rem;
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
}

.notice-text {
  font-size: 125%;
  font-weight: bold;
}

.more-text {
  color: #9d7171;
  margin-top: 3px;
  font-size: 80%;
  font-weight: bold;
}


.carousel-wrapper {
  overflow: hidden;
  width: 90%;
  margin: auto;
}

.carousel-wrapper * {
  box-sizing: border-box;
}

.carousel {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.carousel_item {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 50%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel_item.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.carousel_item.prev,
.carousel_item.next {
  z-index: 800;
}

.carousel_item.prev {
  transform: translateX(-100%);
}

.carousel_item.next {
  transform: translateX(100%);
}

.carousel_button--prev,
.carousel_button--next {
  position: absolute;
  top: 50%;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
  border: 1px solid black;
}

.carousel_button--prev {
  left: 0;
}

.carousel_button--next {
  right: 0;
}

.carousel_button--prev::after,
.carousel_button--next::after {
  content: ' ';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}

.carousel_button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}