.search {
    position: relative;
    text-align: center;
    max-width: 80vw;
    min-width: 80vw;
    margin: 0 auto;
}
input {
    width: 60%;
    border-radius: 20px;
    border: 1px solid #bbb;
    margin: 10px 0;
    padding: 10px 12px;
}


.search-btn {
    outline: none;
    border-radius: 0 15px 15px 0;
    background: #ffffff;
    color: #000000;
    border: none;
    transition: all 0.3s ease;
  }
  .search-btn i {
    font-size: 1.35em;
    cursor: pointer;
  }